In [4]:
import requests
import pandas as pd

api_key = "d4b24eade6c385f385d5f9d8c4b14854"
url = "https://api.themoviedb.org/3/discover/movie"

# Fecha específica
fecha = "2024-12-09"
params = {
    "api_key": api_key,
    "primary_release_date.gte": fecha,
    "primary_release_date.lte": fecha,
    "sort_by": "popularity.desc"
}

# Llamada
response = requests.get(url, params=params)

if response.status_code == 200:
    data = response.json()
    peliculas = data['results']
    df = pd.DataFrame(peliculas)[["title", "popularity", "release_date"]]
    print("Películas más populares en la fecha específica:")
    display(df)
else:
    print(f"Error al obtener datos: {response.status_code}")

Películas más populares en la fecha específica:

                                      title  popularity release_date
0                                    Utopia      27.733   2024-12-09
1                    Aku Tak Membenci Hujan      26.803   2024-12-09
2         Nan Goldin – I Remember Your Face      25.158   2024-12-09
3                           How to Blend In      24.977   2024-12-09
4                           Bleib doch noch      24.876   2024-12-09
5                                Fragmentos      24.851   2024-12-09
6                       Behind the Ringtone      24.708   2024-12-09
7         Normas para una página de sucesos      24.077   2024-12-09
8                     'Til Death Do Us Part      23.563   2024-12-09
9   Raízes de Liberdade: Histórias Apagadas      23.462   2024-12-09
10                               Snow White      23.340   2024-12-09
11                                 Lavender      23.332   2024-12-09
12                            Luna en Obras      23.271   2024-12-09
13             A Punch in the Gut of a Star      23.263   2024-12-09
14                                 Desfaces      23.165   2024-12-09
15                        Predict My Future      22.591   2024-12-09
16                  A un paso de la soledad      12.072   2024-12-09
17                        Arctic Armageddon       9.226   2024-12-09
18                                 Carcarás       7.531   2024-12-09
19             in heaven there are no shoes       1.960   2024-12-09

In [5]:
# Comparacion de tendencias
generos = {
    "Acción": 28,
    "Comedia": 35,
    "Drama": 18
}
periodos = ["2023-01-01", "2023-12-31"]  #  fechas y rango de ellas

# Resultados por género
resultados = []
for genero, id_genero in generos.items():
    params = {
        "api_key": api_key,
        "with_genres": id_genero,
        "primary_release_date.gte": periodos[0],
        "primary_release_date.lte": periodos[1],
        "sort_by": "popularity.desc"
    }
    response = requests.get(url, params=params)
    if response.status_code == 200:
        data = response.json()
        popularidad_total = sum(p["popularity"] for p in data["results"])
        resultados.append({"Género": genero, "Popularidad Total": popularidad_total})
    else:
        print(f"Error para el género {genero}: {response.status_code}")

df_tendencias = pd.DataFrame(resultados)
print("Tendencias de popularidad entre géneros:")
display(df_tendencias)

Tendencias de popularidad entre géneros:

    Género  Popularidad Total
0   Acción           3406.711
1  Comedia           2757.908
2    Drama           2450.962

In [7]:
# Endpoint para sacar todos los géneros
url_generos = "https://api.themoviedb.org/3/genre/movie/list"
params = {"api_key": api_key, "language": "es-ES"}
response = requests.get(url_generos, params=params)

if response.status_code == 200:
    data = response.json()
    generos = data["genres"]
    df_generos = pd.DataFrame(generos)
    print("Géneros más frecuentes en el catálogo:")
    display(df_generos)
else:
    print(f"Error al obtener los géneros: {response.status_code}")

Géneros más frecuentes en el catálogo:

       id             name
0      28           Acción
1      12         Aventura
2      16        Animación
3      35          Comedia
4      80           Crimen
5      99       Documental
6      18            Drama
7   10751          Familia
8      14         Fantasía
9      36         Historia
10     27           Terror
11  10402           Música
12   9648         Misterio
13  10749          Romance
14    878  Ciencia ficción
15  10770   Película de TV
16     53         Suspense
17  10752           Bélica
18     37          Western

In [8]:
# Género específico
id_genero = 28  # id del genero Accion

params = {
    "api_key": api_key,
    "with_genres": id_genero,
    "sort_by": "vote_average.desc",
    "vote_count.gte": 50  # Quita peliculas con muy pocas votaciones
}

response = requests.get(url, params=params)

if response.status_code == 200:
    data = response.json()
    peliculas = data['results']
    df_mejor_rankeadas = pd.DataFrame(peliculas)[["title", "vote_average", "release_date"]]
    print("Películas mejor rankeadas en el género especificado:")
    display(df_mejor_rankeadas)
else:
    print(f"Error al obtener películas mejor rankeadas: {response.status_code}")

Películas mejor rankeadas en el género especificado:

,title,vote_average,release_date
0,Kill Shot,9.300,2023-08-15
1,The Dark Knight,8.500,2008-07-16
2,Underdog,8.500,2024-04-25
3,The Lord of the Rings: The Return of the King,8.482,2003-12-17
4,Seven Samurai,8.500,1954-04-26
5,Setback,8.400,2011-01-01
6,The Lord of the Rings: The Fellowship of the Ring,8.416,2001-12-18
7,Primal: Tales of Savagery,8.403,2019-11-21
8,Harakiri,8.400,1962-09-15
9,Spider-Man: Into the Spider-Verse,8.399,2018-12-06
10,The Lord of the Rings: The Two Towers,8.400,2002-12-18
11,Blindsided: The Game,8.400,2018-05-16
12,The Wild Robot,8.400,2024-09-08
13,The Empire Strikes Back,8.400,1980-05-20
14,The Legend of Hei,8.372,2019-08-27
15,Inception,8.400,2010-07-15
16,My Little Pony: Equestria Girls - Spring Break...,8.400,2019-03-30
17,Spider-Man: Across the Spider-Verse,8.354,2023-05-31
18,Neon Genesis Evangelion: The End of Evangelion,8.307,1997-07-19
19,Léon: The Professional,8.306,1994-09-14